<?xml version="1.0" encoding="utf-8"?>
<utpsdoc type="sysconfig">
	<!-- style
		FS_XFRAME = 0x00000001,
		FS_MINIFRAME = 0x00000002,
		FS_MINIUILOAD = 0x00000004,
		FS_LY_EXTABCTRL = 0x00000008,
		FS_LY_TABCTRL = 0x00000010,
		FS_LY_PANELCTRL = 0x00000020
		FS_XFRAME_A_EX = 0x00000040 -->
	<!-- skinstyle
		PlatformSpecific = 0, 
		DefaultStyle = 1, (Default style is QWindowsStyle)
		QWindowsStyle = 1,
		QMacStyle = 2, (Supported only in Mac Systems)
		QGtkStyle = 3,
		QCDEStyle = 4,
		QMotifStyle = 5,
		QPlastiqueStyle = 6,
		QCleanlooksStyle = 7,
		QWindowsXPStyle = 8,
		QWindowsVistaStyle = 9 -->
	<windowsize name="xframe" width="750" height="550" minwidth="600" minheight="415"/>
	<!--windowsize name="miniframe" width="400" height="200" minwidth="400" minheight="200"/-->
	<windowsize name="miniframe" width="365" height="212" minwidth="365" minheight="212"/>
	<function>
		<splash>false</splash>
		<splashscreenstoptime>3</splashscreenstoptime>
		<layoutmaginwidth>0</layoutmaginwidth>
		<helpfile>usermanual</helpfile>
		<style>0x00000011</style>
		<customtitlebar>true</customtitlebar>
		<skinstyle>0</skinstyle>
		<exitprompt>1</exitprompt>
		<exitpromptdisconn>1</exitpromptdisconn>
		<addtitle>false</addtitle>
		<maininterface>92804312-432E-401F-96BB-1C20D852815D</maininterface>
		<!--func0如果在线升级菜单配置出来，则此项的值一定要设为true，否则为false-->
		<onlineupdate>true</onlineupdate>
		<toolbarblanksize>13</toolbarblanksize>
		<logolink>false</logolink>
		<logourl>www.huawei.com</logourl>
		<languagetype>imsi</languagetype>
	</function>
	<modulPM>
		<!-- 该选项使用来确定是否开启模块电源管理功能，需要数据卡和机器的支持，如果数据卡和机器支持则才可以开启，1为开启，0为关闭 -->
		<enable>0</enable>
		<!--moddll>AsAcpiUtl.dll</moddll-->
		<!--func0一定要是打开模块电源的函数名,没有则不配-->
		<!--func0>NotifyON</func0-->
		<!--func1一定要是关闭模块电源的函数名，没有则不配-->
		<!--func1>NotifyOFF</func1-->
		<!--func2是用来识别是否是特定厂商的机器的函数名，没有则不配-->
		<!--func2>IsEeePCMachine</func2-->
	</modulPM>
	<!--language>
		<IMSI name="45000">
			<item default="true">zh-cn</item>
			<item default="false">en-us</item>
		</IMSI>
		<IMSI name="46001">
			<item default="true">en-us</item>
		</IMSI>
	</language-->
	<menu name="xframe">
		<popupmenu parent="null">
			<item type="POPUP" id="IDS_XFRAME_FILE">filemenu</item>
			<item type="POPUP" id="IDS_XFRAME_OPER">opermenu</item>
			<item type="POPUP" id="IDS_XFRAME_TOOL">toolmenu</item>
			<!--item type="POPUP" id="IDS_XFRAME_QUICKLINK">quicklink</item-->
			<item type="POPUP" id="IDS_XFRAME_HELP">helpmenu</item>
		</popupmenu>
		<popupmenu parent="filemenu">
			<item type="ITEM" id="IDS_SETTING_BUTTON_EXIT">43001</item>
		</popupmenu>
		<popupmenu parent="connectmenu">
			<item type="POPUP" id="IDS_XFRAME_WLAN">wlanmenu</item>
			<item type="POPUP" id="IDS_XFRAME_GPRS">3Gmenu</item>
		</popupmenu>
		<popupmenu parent="opermenu">
		</popupmenu>
		<popupmenu parent="toolmenu">
			<item type="POPUP" id="IDS_MAINFRM_LANG_PROMPT">languagemenu</item>
			<item type="POPUP" id="IDS_MAINFRM_MENU_PIN">pinmenu</item>
			<!--item type="POPUP" id="IDS_XFRAME_SWITCH_SKIN">switchskin</item-->
			<!--item type="ITEM" id="IDS_XFRAME_ACTIVATION">43041</item-->
			<!-- begin-->
			<!--item type="POPUP" id="IDS_MAINFRM_MENU_DEVICE">devicemenu</item>
			<item type="POPUP" id="IDS_MAINFRM_MENU_TFCARD">TFmenu</item-->
			<!-- end-->
			<!--item type="ITEM" id="IDS_XFRAME_DEVMGR">43004</item-->
			<item type="ITEM" id="IDS_MAINFRM_DIAGNOSTICS_WINDOWSTXT">43005</item>
			<!--item type="ITEM" id="IDS_MAINFRM_CHECKUP_WINDOWSTXT">43080</item-->
			<!--item type="POPUP" id="IDS_MAINFRM_RF">radiomenu</item-->
			<!--菜单弹出预付费的ussd需要打开下面的项-->
			<!--item type="ITEM" id="IDS_XFRAME_USSD">43035</item-->
			<!--菜单弹出后付费的ussd需要打开下面的项-->
			<!--item type="ITEM" id="IDS_XFRAME_USSD_POSTPAID">43047</item-->
			<!--菜单弹出通用的ussd需要打开下面的项-->
			<item type="ITEM" id="IDS_USSD_COMMON">43057</item>
			<!--item type="ITEM" id="IDS_XFRAME_SMSUSSD">43070</item-->
			<item type="ITEM" id="IDS_XFRAME_OPTION">43006</item>
			<!--item action="add" type="ITEM" id="IDS_XFRAME_MOBILEDOCTOR">MobileDoctor</item-->
		</popupmenu>
		<popupmenu parent="radiomenu">
			<item type="ITEM" id="IDS_MAINFRM_RF_ENABLE">43046</item>
			<item type="ITEM" id="IDS_MAINFRM_RF_DISABLE">43045</item>
		</popupmenu>
		<popupmenu parent="pinmenu">
			<item type="ITEM" id="IDS_MAINFRM_MENU_ENABLEPIN">43007</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_DISABLEPIN">43008</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_CHANGEPIN">43009</item>
			<item type="ITEM" id="IDS_MAINFRM_PIN_VERIFY_WINDOWSTXT">43010</item>
			<item type="ITEM" id="IDS_MAINFRM_PIN_UNLOCK_WINDOWSTXT">43011</item>
		</popupmenu>
		<popupmenu parent="helpmenu">
			<item type="ITEM" id="IDS_MAINFRM_MENU_MAINFR_HELP">43012</item>
			<item type="ITEM" id="IDS_MAINFRM_UPDATEVIA">43055</item>
			<!--item type="POPUP" id="IDS_MAINFRM_UPDATEVIA">updatemenu</item-->
			<item type="ITEM" id="IDS_MAINFRM_MENU_MAINFR_ABOUT">43013</item>
		</popupmenu>
		<!--popupmenu parent="updatemenu">
			<item action="add" type="ITEM" id="IDS_UPDATE_CHECKNOW">43055</item>
			<item action="add" type="ITEM" id="IDS_UPDATE_SETTINGS">43056</item>
		</popupmenu-->
		<!-- begin-->
		<!--popupmenu parent="devicemenu">
			<item type="ITEM" id="IDS_MAINFRM_MENU_ENABLE_DEVICE">43048</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_DISABLE_DEVICE">43049</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_CHANGE_DEVICE">43050</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_CHECK_DEVICE">43058</item>
		</popupmenu>
		<popupmenu parent="TFmenu">
			<item type="ITEM" id="IDS_MAINFRM_MENU_ENABLE_TFLOCK">43051</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_DISABLE_TFLOCK">43052</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_CHANGE_TFLOCK">43053</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_CHECK_TFLOCK">43059</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_LOCK_TFLOCK">43060</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_AUTO">43054</item>
		</popupmenu-->
		<!-- end-->
	</menu>
	<menu name="miniframe">
		<popupmenu parent="null">
			<item type="POPUP" id="IDS_MAINFRM_MENU_PIN">pinmenu</item>
			<item type="POPUP" id="IDS_MAINFRM_LANG_PROMPT">languagemenu</item>
			<item type="ITEM" id="IDS_MAINFRM_DIAGNOSTICS_WINDOWSTXT">43005</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_MAINFR_HELP">43012</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_MAINFR_ABOUT">43013</item>
			<item type="ITEM" id="IDS_SETTING_BUTTON_EXIT">43001</item>
		</popupmenu>
		<popupmenu parent="pinmenu">
			<item type="ITEM" id="IDS_MAINFRM_MENU_ENABLEPIN">43007</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_DISABLEPIN">43008</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_CHANGEPIN">43009</item>
			<item type="ITEM" id="IDS_MAINFRM_PIN_VERIFY_WINDOWSTXT">43010</item>
			<item type="ITEM" id="IDS_MAINFRM_PIN_UNLOCK_WINDOWSTXT">43011</item>
		</popupmenu>
	</menu>
	<menu name="traymenu">
		<popupmenu parent="null">
			<item type="ITEM" id="IDS_XFRAME_DISPLAY">43015</item>
			<item type="ITEM" id="IDS_MAINFRM_MENU_MAINFR_ABOUT">43013</item>
			<item type="POPUP" id="IDS_TRAY_CALL_MENU">callmenu</item>
			<item type="ITEM" id="IDS_SETTING_BUTTON_EXIT">43001</item>
		</popupmenu>
		<popupmenu parent="callmenu">
			<item type="ITEM" id="IDS_TRAY_CALL_ANSWER">43042</item>
			<item type="ITEM" id="IDS_TRAY_CALL_HANGUP">43043</item>
		</popupmenu>
	</menu>
	<toolbar name="miniframe">
		<item type="NORMAL" module="SettingUIPlugin" icon="SettingUI" id="IDS_XFRAME_OPTION">43006</item>
		<item type="NORMAL" module="XFramePlugin" icon="PopMenu" id="IDS_XFRAME_MINIMENU">43014</item>
	</toolbar>
	<toolbar name="xframe">
		<!--item type="NORMAL" module="XFramePlugin" infixpos="SMSUIPlugin" icon="Browser" id="IDS_BROWSER">43017</item-->
		<!--item type="NORMAL" module="XFramePlugin" icon="ussd" id="IDS_XFRAME_USSD">43035</item-->
		<!--item type="NORMAL" module="XFramePlugin" icon="ussd" id="IDS_XFRAME_USSD_POSTPAID">43047</item-->
		<!--item type="NORMAL" module="XFramePlugin" icon="ussd" id="IDS_USSD_COMMON">43057</item-->
		<!--item type="NORMAL" module="XFramePlugin" icon="SMSUssd" icon2="SMSUssdDisable" id="IDS_XFRAME_SMSUSSD">43070</item-->
	</toolbar>
	<accelerators name="xframe">
		<item key="VK_F1" id="IDS_MAINFRM_MENU_MAINFR_HELP" module="XFramePlugin" virtkey=""/>
	</accelerators>
	<!--customize name="eMobile_C109" device="E227">
		<windowsize name="xframe" width="618" height="420"/>
		<function>
			<splash>false</splash>
			<layoutmaginwidth>0</layoutmaginwidth>
			<style>0x00000011</style>
			<exitpromptdisconn>1</exitpromptdisconn>
			<addtitle>true</addtitle>
		</function>
		<menu name="xframe">
			<popupmenu parent="null">
				<item action="rem" type="POPUP" id="IDS_XFRAME_FILE">filemenu</item>
				<item action="rem" type="POPUP" id="IDS_XFRAME_OPER">opermenu</item>
			</popupmenu>
			<popupmenu parent="toolmenu">
				<item action="rem" type="ITEM" id="IDS_XFRAME_DEVMGR">43004</item>
				<item action="rem" type="ITEM" id="IDS_XFRAME_OPTION">43006</item>
				<item action="add" type="ITEM" id="IDS_XFRAME_PHONENUMBER">43018</item>
				<item action="add" type="ITEM" id="IDS_XFRAME_OPTION">43006</item>
			</popupmenu>
		</menu>
		<menu name="traymenu">
			<popupmenu parent="null">
				<item action="rem" type="ITEM" id="IDS_MAINFRM_MENU_MAINFR_ABOUT">43013</item>
			</popupmenu>
		</menu>
	</customize-->
</utpsdoc>